language: node_js
node_js: node
cache:
  directories:
  - node_modules
env:
- CI=true
deploy:
  provider: heroku
  api_key:
    secure: ptcgGMMLLVQVmeKcExDL2iT4rRasR9SRoU25ccLLyt02Hl1CCJRib/+nhG6JuFZ9aVz5YIJxmppC53qPm7fcE6ySXdJoJSkpzkXTX4CueDQnFvrgpFwfyDnvX2FeDXxHOR4pDB7Cxh7qExVzHg6tk89MxIyn1BGFUxtAR7dXLSr6CE2IkmZxmQsMCSXOo5pFMWsypN7sCI9NvzB8T/69Hzpi8B+MIqik95YVUHGOQmE77YbE89WNR63BdovjwgyvTmMKj44h5OFiD1Y4F7zyvKF0F6mxpILRtbfQfIrGg12jnYoxriD3NZDY3knVDiIhGfJJF+lpaqkKchvmGGdxmclgMfgwWufkcZQJB+FVg8rB0jgJM/LMhpPgRUwxRp/bGGEbdO8vOUTtGc36Ng5UcuaS++Y5Dqu1/XGvJZ8J4LI4M0lRKOyW2JMjV0K7NM2DalJ7gqgipa/gCre2mOUrj+vPmhhe7O56MxgV5VgKiIPpBN7TiUDXkoeZ9Q6ug/QtlqPHvC+68fwwCgeBRRgY86VSmjKVcLvtkMdlmHuqCzma47kibaq9lkrgAcvU3dUz3ERwaFj4wfL6PRULyHVbhPrR+aO3qcVg3M7YIqHxccos03t1jF155XGg+nmfFclGQAcoe/fJQNL4GrT/7199w2UEBmOUf6HlTGt+wWGopjQ=
  app: warm-retreat-51576
  on:
    repo: annasheik/react-trello-testing
